*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    height: 80%;
    width: 40vmax;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#input {
    height: 20%;
    width: 100%;
    text-align: right;
    background-color: rgb(118, 180, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    border: 1px solid rgb(118, 180, 231);
    border-radius: 10px;
    color: rgb(5, 5, 98);
    padding-top: 50px;
    padding-right: 10px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 75%;
    width: 100%;
    gap: 10px;
}

#grid-container button {
    background-color: red;
    border-radius: 10px;
    font-size: 2.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #fff;
    border: 1px solid aqua;
    box-shadow: -5px -5px 8px rgb(118, 180, 231);
    cursor: pointer;
}

#item22 {
    grid-column: 2/6;
}


@media (max-width: 500px) {
    #calc {
        width: 44.25vmax;
        height: 60%;
    }

    #grid-container {
        height: 75%;
    }

    #grid-container button {
        font-size: 2vmax;
    }
}

@media (width > 500px) and (max-width: 800px) {
    #calc {
        width: 60vmax;
        padding: 30px;
        gap: 30px;
    }
}

@media (width > 800px) and (max-width: 1050px) {

    #wrapper {
        padding: 50px;
    }
    #calc {
        width: 65vmax;
        padding: 30px;
        gap: 30px;
    }
}

